body{
  margin: 0;
  padding: 0;
}
header{
  /*outline: 1px solid red;*/
  display: block;
  margin: 0 ;
  position: fixed;
  width: 100%;
  height:108px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  background-color: #2c3e50;
  z-index: 1000;
}
div{
  /*outline: 1px solid pink;*/
  display: inline-block;
  color: white;
}
.logo{
  /*outline: 1px solid blue;*/
  font-size: 32px;
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 108px;
}
.options{
  text-align: center;
  /*outline: 1px solid green;*/
  width: 49.5%;
  height: 100%;
  vertical-align: top;
  line-height: 108px;
}
.options span{
  padding: 0 8px 0;
}
.presentation{
  padding-top:108px;
  display: block;
  width: 100%;
  height: 686px;
  background-color: #18bc9c;
  text-align: center;
}
.portfolio{
  display: block;
  width: 100%;
  height: 800px;
  text-align: center;
}
.about{
  display: block;
  width: 100%;
  height: 578px;
  background-color: #18bc9c;
  text-align: center;
}
.contact{
  display: block;
  width: 100%;
  height: 937px;
  text-align: center;
}
footer{
  display: block;
  width: 100%;
  height: 343px;
  background-color: #2c3e50;
}
.presentation img{
  display:inline-block;
  padding-top: 92px;

}
.presentation strong{
  /*outline: 1px solid green;*/
  display:block;
  font-family: 'Montserrat', sans-serif;
  font-size: 480%;
  font-weight: 900;
  padding-top: 25px;
}
 .presentation hr{
  /*outline: 1px solid red;*/
  width: 16%;
  height: 5px;
  background-color: white;
  border: none;
  margin-top: 38px;
  position: static;
}
 .presentation .icon-star-full{
    content: "\e9d9";
    /*outline: 1px solid black;*/
    font-size: 30px;
    position: relative;
    bottom: 28px;
    background-color: #18bc9c;
    padding: 0 7px 0 ;
    z-index: 10;
}
.presentation p{
  /*outline: 1px solid black*/
  font-size: 28px;
  margin: 0;
  position: relative;
  bottom: 8px;
  font-family: 'Lato', sans-serif;
  z-index: 10;
}
.portfolio p{
  /*outline: 1px solid blue;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #212529;
  margin: 90px 0 0;
  padding: 0;
}
.portfolio hr{
  width: 16%;
  height: 5px;
  background-color: #2c3e50;
  border: none;
  margin-top: 38px;
  position: static;
}
.portfolio .icon-star-full{
  content: "\e9d9";
  /*outline: 1px solid black;*/
  font-size: 30px;
  position: relative;
  bottom: 28px;
  color:  #2c3e50;
  padding: 0 7px 0 ;
  z-index: 10;
  background-color: white;
  margin: 0;
}
.portfolio .content_portfolio{
  /*outline: 2px solid green;*/
  display: block;
  position: relative;
  bottom: 20px;
  margin: 0;
}
.container_images{
  display: inline-block;
  column-count: 3;
  column-gap: 0px;
  margin: 0 13% 0;
}
.container_images img{
  display: inline;
  width:350px;
  height: 253px;
  padding: 15px;
  margin: 0;
}
.about .title{
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #white;
  margin: 0;
  padding-top: 100px;
}
.about hr{
  width: 16%;
  height: 5px;
  background-color: white;
  padding: 0;
  margin-top: 38px;
  position: relative;
  bottom: 15px;
  display: block;
}
.about .icon-star-full{
  content: "\e9d9";
  /*outline: 1px solid black;*/
  font-size: 30px;
  position: relative;
  bottom: 140px;
  background-color: #18bc9c;
  padding: 10px;
  left: 450px;
  /*padding: 0 7px 0 ;*/
  z-index: 10;
  /*display:block;*/
}
.container_text{
  display:inline-block;
  /*outline: 2px solid red;*/
  column-count: 2;
  column-gap: 80px;
  width: 700px;
  height: 180px;
  padding: 0 100px 0;
  margin-top: 30px;
}
.about .text{
  /*outline: 2px solid pink;*/
  display: inline-block;
  width: 350px;
  height: 180px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-size: 21px;
  text-align: left;
  font-family: 'Lato', sans-serif;
}
.container_download{
/*outline: 2px solid green;*/
  display: block;
  margin-top: 35px;
  text-align: center;
}
.bottom_download{
  display: inline-block;
  border: 2px solid white;
  border-radius: 10px;
  width: 209px;
  height: 46px;
  border-color: white;
  border-radius: 10px;
  text-align: center;

}
.icon-download3{
  /*outline: 1px solid black;*/
  display: inline;
  font-size: 20px;
  padding: 0 1px 0;
  vertical-align: middle;
  position: relative;
  top: 10px;
}
.text_download{
  /*outline: 2px solid red;*/
  display: inline;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  vertical-align: middle;
  position: relative;
  top: 10px;
}
.container_download :hover{
  color: #18bc9c;
  background-color: white;
}
