body{
  margin: 0;
  padding: 0;
}
header{
  /*outline: 1px solid red;*/
  display: block;
  margin: 0 ;
  position: fixed;
  width: 100%;
  height:108px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  background-color: #2c3e50;
}
div{
  /*outline: 1px solid pink;*/
  display: inline-block;
  color: white;
}
.logo{
  /*outline: 1px solid blue;*/
  font-size: 32px;
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 108px;
}
.options{
  text-align: center;
  /*outline: 1px solid green;*/
  width: 49.5%;
  height: 100%;
  vertical-align: top;
  line-height: 108px;
}
.options span{
  padding: 0 8px 0;
}
.presentation{
  padding-top:108px;
  background-color: yellow;
  display: block;
  width: 100%;
  height: 686px;
  background-color: #18bc9c;
}
.portfolio{
  display: block;
  width: 100%;
  height: 883px;
}
.about{
  display: block;
  width: 100%;
  height: 578px;
  background-color: #18bc9c;
}
.contact{
  display: block;
  width: 100%;
  height: 937px;
}
footer{
  display: block;
  width: 100%;
  height: 343px;
  background-color: #2c3e50;
}
.presentation{
  display: block;
  text-align: center;

}
.presentation img{
  display:inline-block;
  padding-top: 43px;

}
